{% extends 'base.html' %}
{% block content %}
<div class="modal-body">
    <div class="content container-fluid">                    
        <div class="row">
           <div class="col-sm-12">
              <div class="card card-table">
                 <div class="card-body">
                    <div class="table-responsive">
                     
                       {% for t in tamasuk %}
                       <p> kjgs'gs'agagagakklj {{t.name}} ml'slfsa/fdsakl {{t.old_district}} smlanf;sfnsalkf----------
                        mn;lsfnsa/lfsal/------------mnalfas/k----------------kl;alsfsafsda------------- </p>
                       {% endfor %}
                        

                       <div class="action">
                        <a href="#" ><span class="badge badge-success" style="height: 20px;">print</span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
{% endblock content %}